* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red{
  color: red;
}

.title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.succ, .prec{
  display: flex;  
  justify-content: center; 
  align-items: center;

}

.succ svg,
.prec svg{
  width: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

svg:hover{
  cursor: pointer;
}

.prec svg{
  transform: rotate(-180deg);
}

.step{
  display: flex;
  justify-content: space-evenly;
}

.container{
  display: flex;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}