* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  background: rgb(50, 54, 57);
}

h2{
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.container > div{
  width: 14%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}
.red{
  color: red;
}

.title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.succ, .prec{
  display: flex;  
  justify-content: center; 
  align-items: center;
}

.succ svg,
.prec svg{
  width: 35px;
  margin-left: 20px;
  margin-right: 20px;
  color: #4C4F9E;
}

svg:hover{
  cursor: pointer;
}

.prec svg{
  transform: rotate(-180deg);
}

.step{
  display: flex;
  justify-content: space-evenly;
}

.step p{
  color:#ADBAC4;
  font-size: 20px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.capitalize {
  text-transform: capitalize;
}

ul{
  list-style-type: none;
  width: 50%;
  text-align: center;}
ul li{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}